:root {
    /* Цвет текста */
    --basic-txt-color: #212121;
    --accent-txt-color: #2196f3;
    --secondary-txt-color: #ffffff;
    --paragraph-txt-color: #757575;
    --button-txt-color: #188ce8;
    --logo-color: #000000;

    /* Цвет фона */
    --bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;

    /* Сетка */
    --card-set-gap: 15px;
}